.bg-image {
    background-image: url('../img/background_car_rental.jpg');
    background-size: cover;
    /* Ajuste l’image */
    background-position: center;
    /* Centre l’image */
    background-repeat: no-repeat;
    /* Empêche la répétition */
    height: 100vh;
    /* Hauteur de toute la fenêtre */
}


.h_element_33 {
    min-height: 33vh;
}


.h_element_40 {
    min-height: 40vh;
}

.h_element_90 {
    min-height: 90vh;
}

.opacity_80 {
    opacity: 0.8;
    /* 10% de transparence */
}

.bg_opacity_80 {
    background-color: rgba(255, 255, 255, 0.80);
    /* Noir avec 75% de transparence */
}


/* 
.justify-self-start {
    justify-self: start;
}
 */
#inputmpd::placeholder {
    font-size: 0.9rem;

    @media (max-width:768px) {
        font-size: 1rem;
    }
}

#verifmpd::placeholder {
    font-size: 0.9rem;

    @media (max-width:768px) {
        font-size: 1rem;
    }
}